@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/VijayJaligama/MyWebApp">Challenge#1 GitHub Code</a>.</p>
    <p><a asp-page="Challenge2Code">Challenge#2 Explanation</a>.</p>
    <p><a asp-page="Challenge3Findings">Challenge#3 Findings</a>.</p>
</div>
